<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
             <title>About</title>
     <link rel="icon" href="img/weather.png">
    </head>
    <body>
    <div class="main-content">
          {{>header}}
          <p>Use to put some content</p>
          <img src="img/imgrobot.png" class="portrate">
    </div>
        
        {{>footer}}
    </body>
</html>